<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Driver Ph</th>
      <th>Driver Name</th>
      <th>Driver Loc</th>
      <th>Rider Loc</th>
      <th>Driver Dest</th>
      <th>Driver Time</th>
      <th>Vehicle Details</th>
      <th>Vehicle Number Plate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8582814125</td>
      <td>Dhruv Roongta</td>
      <td>home</td>
      <td>home</td>
      <td>work</td>
      <td>10:00</td>
      <td>Red Civic</td>
      <td>ka 51 mc 2001</td>
    </tr>
  </tbody>
</table>